body {
    margin: 0;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Navigation bar */
navbar {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 0;
    column-gap: 20px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    margin-left: 50px;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 50px;
    padding: 0;
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: #e5e7eb;
}

a {
    color: #f9faf8;
    text-decoration: none;
}

a:hover {
    color: #f9faf8;
}

/* Doc */
.doc {
    margin-left: 70px;
    margin-right: 70px;
}

hr {
    margin-top: 0px
}

h1 {
    font-weight: 300;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}

h2 {
    font-size: 20px;
}

.key {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-family: monospace;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.warning {
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffdddd;
    font-family: monospace;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
